<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Bootstrap SubMenu" lan="LAN_PLUGIN_BSUBMENU_NAME" version="2.0" date="2016-07-21" compatibility="2.0" installRequired="true" >
	<author name="G4HDU" url="http://www.keal.me.uk" />
	<summary>A Blank Plugin to help you get started in plugin development</summary>
	<description lan="LAN_PLUGIN__BLANK_DIZ">A replacement menu for bootstrap themes with multiple sub menus</description>
	<category>settings</category>
	<keywords>
		<word>tools</word>
		<word>utility</word>
		<word>theme</word>
	</keywords> 
	<adminLinks>
		<link url='admin_config.php' description='Configure Bootstrap SubMenu' icon='images/bootsub_32.png' iconSmall='images/bootsub_16.png' primary='true' >LAN_CONGIGURE</link>
		<link url="admin_config.php?mode=options" description="Configureoptions" icon="manage" >Options</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="blank_pref_1">1</pref>
		<pref name="blank_pref_2">[more...]</pref>
	</pluginPrefs>		
</e107Plugin>
